body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}


.article {
    max-width: 300px;
    background-color: #fff;
    border-radius: 5px;
    margin: 30px auto;
    box-shadow: 0 10px 25px rgba(72, 72, 72, .7);
    padding: 10px;
}

.article-photo > img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.article-content {
    margin: 5px;
    font-size: 12px;
    font-weight: 400;
}

.price {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 700;
}

.btn-keep {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-buy{
    background-color: #40ff3a;
    font-weight: 700;
    text-decoration: none;
    color: #eee;
    border-radius: 25px;
    border: none;
    outline: none;
    transition: all .8s;
    padding: 7px 50px;
}

.btn-buy:is(:hover, :focus){
    scale: 1.2;
    box-shadow: 0 4px 16px #07d900;
    font-size: 15px;
}